PORT=
API_PREFIX=
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
MAX_PAYLOAD_SIZE=
NODE_ENV=

# Rate Limit y Proteccion DDoS
RATE_LIMIT_MAX_PER_HOUR=
DDOS_MAX_REQUESTS_PER_MINUTE=
DDOS_BLOCK_DURATION_MINUTES=

# Configuracion de OpenStreetMap (OSM)
OSM_TILE_URL=
OSM_NOMINATIM_URL=
OSM_OVERPASS_ENDPOINTS=
SATELLITE_TILE_URL=
TERRAIN_TILE_URL=